* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

html {
    --color: green;
    --bg-color: yellow;
}

section {
    background-color: var(--bg-color);
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 200px);
    grid-template-areas:
        "a a h"
        "a a h"
        "b g h"
        "c f h"
        "d d h"
        "e e e";
}

section:first-of-type {
    /* grid-area: 1/1/3/3; */
    grid-area: a;
}

section:nth-of-type(2) {
    /* grid-area: 1/3/6/4; */
    grid-area: c;
}

section:nth-of-type(3) {
    /* grid-area: 5/1/6/3; */
    grid-area: e;
}

section:nth-of-type(4) {
    /* grid-area: 6/1/7/4; */
    grid-area: h;
}

section:nth-of-type(5) {
    grid-area: g;
}

section:nth-of-type(6) {
    grid-area: f;
}

section:nth-of-type(7) {
    grid-area: b;
}

section:nth-of-type(8) {
    grid-area: d;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style-type: none;
    text-decoration: none;

}

